<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="keywords" content="one, two, three">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <title>Connections</title>

  <link rel="stylesheet" href="connections.css">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header>
    <img class="logo" src="img/ball.png" alt="Ball Logo">
    <h1>Wereat</h1>
    <a href="maps">Maps</a>
    <a href="connections">Connections</a>
    <a href="events">Events</a>
  </header>
  <section class="container">
    <h1>Raymond's CONNECTIONS</h1>
    <ul class="friend">
      <img src="img/me.png" alt="Profile Picture">
      <li>
        <span class="event">CLBO League</span>
        <span class="date">4/7</span>
        <span class="location">Pope John HS</span>
      </li>
      <li>
        <span class="event">Pick Up</span>
        <span class="date">4/3</span>
        <span class="location">Lee School</span>
      </li>
      <li>
        <span class="event">One Day Tournament</span>
        <span class="date">5/12</span>
        <span class="location">Reggie Lewis Center</span>
      </li>
    </ul>
    <ul class="friend">
      <li>
        <img src="img/me.png" alt="Profile Picture">
        <span class="event">CLBO League</span>
        <span class="date">4/7</span>
        <span class="location">Pope John HS</span>
        <span class="event">Pick Up</span>
        <span class="date">4/3</span>
        <span class="location">Lee School</span>
        <span class="event">One Day Tournament</span>
        <span class="date">5/12</span>
        <span class="location">Reggie Lewis Center</span>
      </li>
    </ul>
    <ul class="friend">
      <li>
        <img src="img/me.png" alt="Profile Picture">
        <span class="event">CLBO League</span>
        <span class="date">4/7</span>
        <span class="location">Pope John HS</span>
        <span class="event">Pick Up</span>
        <span class="date">4/3</span>
        <span class="location">Lee School</span>
        <span class="event">One Day Tournament</span>
        <span class="date">5/12</span>
        <span class="location">Reggie Lewis Center</span>
      </li>
    </ul>
  </section>
  <script type="text/javascript" src="main.js"></script>
</body>

</html>