<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="keywords" content="one, two, three">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <title>All Events</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header>
    <img class="logo" src="img/ball.png" alt="Ball Logo">
    <h1>Wereat</h1>
    <a href="maps">Maps</a>
    <a href="connections">Connections</a>
    <a href="events">Events</a>
  </header>
  <section class="container">
    <h1>All Events</h1>
    <h2>Events</h2>
    <h2>Locations</h2>
    <h2>Dates</h2>
    <h2>Membership?</h2>
    <h2>How Many?</h2>
  </section>
</body>

</html>