<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Your description goes here">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
	<title>Let's Ball Up!</title>

	<link rel="stylesheet" href="home.css">

	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
	<section class="nav">
		<a class="maps" href="maps">MAPS</a>
		<a class="connections" href="connections">CONNECTIONS</a>
		<a class="events" href="events">EVENTS</a>
	</section>
	<section>
		<a href="profile"><i class="fas fa-user-circle"></i></a>
	</section>
	<section class="info">
		<section class="today">
			<span>Today's Movement</span>
			<ul id="today">

			</ul>
		</section>
		<section class="distance">
			<span>Distance</span>
		</section>
	</section>



	<section class="players">
		<img id="images" src="img/me.png" alt="Carousel of Players">
	</section>
	<footer></footer>
	<script type="text/javascript" src="main.js"></script>
</body>

</html>