<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
			<meta name="viewport"content="width=device-width, initial-scale=1">
			<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
		<title>Information Card</title>

		<link rel="stylesheet" href="style.css">

		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>
	<body>
    <header>
      <img class="logo" src="img/ball.png" alt="Ball Logo">
      <h1>Weaat</h1>
      <a href="maps">MAPS</a>
      <a href="connections">CONNECTIONS</a>
      <a href="events">EVENTS</a>
    </header>
    <section>
      <h1>Burke Community Center</h1>
      <img class="location" src="img/burke.jpg" alt="Picture of Location">
      <h4>200 Geneva ave. Roxbury, MA, 02114</h4>
      <h4>Open Gym</h4>
      <h4>2:00pm - 5:00pm</h4>
      <h4>Membership Required?:<strong>YES</strong></h4>
      <p>You must have a membership with the gym to have access.
         Memberships are $10 for the year and good at other locations.
         The gym is on the top floor take the stairs or have the staff give you elevator access.
      </p>
      <button type="button" name="button">Heads Up</button>
    </section>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
