<!DOCTYPE html>
<html>


<head>
  <meta charset="utf-8">
  <title></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="log.css">

  <body>
</head>

<div class="container">
  <div id="login-box">
    <div class="logo">
      <img src="img/me.png" class="img img-responsive img-circle center-block" />
      <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
    </div>
    <!-- /.logo -->
    <div class="controls">
      <input type="text" name="username" placeholder="Username" class="form-control" />
      <input type="text" name="username" placeholder="Password" class="form-control" />
      <button type="button" class="btn btn-default btn-block btn-custom">Login</button>
    </div>
    <!-- /.controls -->
  </div>
  <!-- /#login-box -->
</div>
<!-- /.container -->
<div id="particles-js"></div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="main.js">
</script>
</body>

</html>