<!DOCTYPE html>
<html>

<head>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="maps.css">

</head>

<body>
  <header>
    <img class="logo" src="img/ball.png" alt="Ball Logo">
    <h1>Wereat</h1>
    <a href="maps">Maps</a>
    <a href="profile">Profile</a>
    <a href="events">Events</a>
  </header>


  <div class="pos-f-t">
    <div class="collapse width" id="navbarToggleExternalContent">
      <!-- this container is what collapses, build your menu in here  -->
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">TOGGLE</span>
    </button>
    </nav>
  </div>

  <div class="container">
    <div id="map"></div>
    <section id="panel" class="sidePanel">
      <section class="sideImage">
        <img id="locationImage" src="" alt="">
      </section>
      <section id='locationName'>

      </section>
      <section id="time">

      </section>
    </section>
    <div id="legend">
      <h3>Legends:</h3>
    </div>
  </div>




  <script type="text/javascript" src="mapConfig.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFUqgOl-Dso6GeepiQTKvSMdPxcIRICUA&callback=initMap"></script>
</body>

</html>