<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="maps.css">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
  <header>
    <img class="logo" src="img/ball.png" alt="Ball Logo">
    <h1>Wereat</h1>
    <a href="maps">Maps</a>
    <a href="profile">Profile</a>
    <a href="events">Events</a>
  </header>
  <div id="map"></div>
  <section id="panel" class="sidePanel">
    <section class="sideImage">
      <img id="locationImage" src="" alt="">
    </section>
    <section id='locationName'>

    </section>
    <section id="time">

    </section>
  </section>
  <div id="legend">
    <h3>Legends:</h3></div>
  <script type="text/javascript" src="mapConfig.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFUqgOl-Dso6GeepiQTKvSMdPxcIRICUA&callback=initMap"></script>
</body>

</html>