<!DOCTYPE html>
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" href="maps.css">

</head>

<body>
  <header>
    <img class="logo" src="img/ball.png" alt="Ball Logo">
    <h1>Wereat</h1>
    <a href="maps">Maps</a>
    <a href="profile">Profile</a>
    <a href="events">Events</a>
  </header>
  <div id="map"></div>
  <!-- <section id="panel" class="sidePanel">
    <section class="sideImage">
      <img id="locationImage" src="" alt="">
    </section>
    <section id='locationName'>

    </section>
    <section id="time">

    </section>
  </section> -->
  <div id="legend">
    <h3>Legends:</h3></div>



  <div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
                           Brand
                        </a>
        </li>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Events</a>
        </li>
        <li>
          <a href="#">Team</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-header">Dropdown heading</li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
        <li>
          <a href="https://twitter.com/Rizz311">Follow me</a>
        </li>
      </ul>
    </nav>



    <script type="text/javascript" src="mapConfig.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFUqgOl-Dso6GeepiQTKvSMdPxcIRICUA&callback=initMap"></script>
</body>

</html>