<!DOCTYPE html>
<html>

<head>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <style>
    #map {
      height: 950px;
      width: 100%;
    }

    #legend {
      background: #fff;
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h3>My Google Maps Demo</h3>
  <div id="map"></div>
  <div id="legend">
    <h3>Legends:</h3></div>

  <script type="text/javascript" src="main.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFUqgOl-Dso6GeepiQTKvSMdPxcIRICUA&callback=initMap"></script>
</body>

</html>