<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="keywords" content="one, two, three">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <title>Raymond's Profile</title>

  <link rel="stylesheet" href="style.css">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <section class="container">
    <section class="user">
      <section class="picture">
        <img src="img/me.png" alt="Profile Picture">
      </section>
      <section class="name">
        <h1>Raymond Kirkland</h1>
        <h3>Boston, MA</h3>
        <h3>Ball Is</h3>
        <h3>Life</h3>
      </section>
    </section>
    <section class="info">

    </section>
  </section>

</body>

</html>