<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Your description goes here">
  <meta name="keywords" content="one, two, three">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <title>Raymond's Profile</title>

  <link rel="stylesheet" href="style.css">

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header>
    <img class="logo" src="img/ball.png" alt="Ball Logo">
    <h1>Wereat</h1>
    <a href="maps">Maps</a>
    <a href="connections">Connections</a>
    <a href="events">Events</a>
  </header>
  <section class="container">
    <img src="img/me.png" alt="Profile Picture">
    <section class="user">
      <h1>Raymond Kirkland</h1>
      <h3>Boston, MA</h3>
      <h3>Ball Is</h3>
      <h3>Life</h3>
    </section>
  </section>
  <section class="info">
    <p class="bio">Bio(Optional)</p>
    <p class="about me">I am a pass first defensive player who enjoys playing for the team and getting everyone involved not afraid to make the extra pass. I’m more of a football player but basketball runs in my blood so why not play it for the fun of it. I will enjoy it
      for as long as my body will let me.</p>
    <p>MY EVENTS</p>
    <ul class="events">
      <li>
        <span class="event">CLBO League</span>
        <span class="date">4/7</span>
        <span class="location">Pope John HS</span>
      </li>
      <li>
        <span class="event">Pick Up</span>
        <span class="date">4/3</span>
        <span class="location">Lee School</span>
      </li>
      <li>
        <span class="event">One Day Tournament</span>
        <span class="date">5/12</span>
        <span class="location">Reggie Lewis Center</span>
      </li>
    </ul>
    <p>HIGHLIGHTS</p>
  </section>
</body>
<script type="text/javascript" src="main.js"></script>

</html>