#map {
  height: 950px;
  width: 100%;
}

#legend {
  background: #fff;
  border: 1px solid black;
}

.sidePanel {
  border: 1px solid white;
  z-index: 1;
  height: 90%;
  width: 25%;
  background: grey;
  /* display: none; */
  visibility: visible;
  display: flex;
  flex-direction: column;
}

.locationName {
  justify-content: center;
}

.sideImage {
  height: 30%;
  width: 100%;
}

#locationImage {
  height: 100%;
  width: 100%;
}