#map {
  height: 870px;
  width: 100%;
}

#legend {
  background: #fff;
  border: 1px solid black;
}

.sidePanel {
  border: 1px solid white;
  z-index: 1;
  height: 90%;
  width: 20%;
  background: grey;
  /* display: none; */
  visibility: visible;
  display: flex;
  flex-direction: column;
}

.locationName {
  justify-content: center;
}

.sideImage {
  height: 30%;
  width: 100%;
}

#locationImage {
  height: 100%;
  width: 100%;
}

header {
  border: 1px solid black;
  background-color: #2C3E50;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  height: 100px;
  width: 95px;
}

a {
  color: white;
  text-decoration: none;
  border: 1px solid grey;
  text-transform: uppercase;
  padding: 10px 20px;
  background: #C4C4C4;
}